.block__docs {
    @include space(1);
    border-bottom: 2px solid $color-secondary;
    ul {
        list-style: none;
        @include space(0.25, margin-top);
        a {
            display: block;
            border-bottom: 1px solid #ddd;
            @include space(0.25, padding-top);
            @include space(0.25, padding-bottom);
            strong {
                display: block;
            }
        }
    }
}

.block__heading {
    @extend .c-emphasize;
    @extend .h4;
}

.stock__name {
    @include font-size(0);
}

.stock__price {
    @include font-size(3);
    line-height: 1;
    font-family: Roboto-Bold;
}

.stock__code {
    @include font-size(2);
    color: #545454;
    line-height: 1;
}

.stock__change {
    @include space(1, margin-top);
    display: inline-block;
    @include font-size(3);
    line-height: 1;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 105%;
        transform: translateY(-20%);
    }
    &.is-up {
        color: $color-success;

        &:after {
            border-width: .5em;
            border-style: solid;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
        }
    }
}

.block__graph {
    width: 3em;
    height: 100%;
    background: repeating-linear-gradient(135deg, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.2) 3px);
    background-size: 4px 4px;

    position: relative;
    &.current {

    }
}

.graph__progress {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 1em;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s ease;
    height: 1%;
    background: $color-secondary;
    .is-current & {
        background: $color-primary;
    }
}

.graph__value {
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 100%;
    text-align: center;
}

.graph__year {
    @include font-size(1);
    position: absolute;
    bottom: -2em;
    right: 0;
}


.block__quicklinks {

    @include desktop {
        display: flex;
        justify-content: center;
    }

    > a {
        flex: 0 1 12em;
        @include space(1);
        &:first-child {
            margin-left: 0;
        }

        @include desktop {
            margin-left: 0.5em;
        }
    }
}
