.carousel {
    position: relative;
    @include space(22, width);
    header & {
        @include space(40, width);
        flex: 1;
        margin: 0 auto;
    }
}

.carousel__slide {
    header & {
        @include space(1, margin-top);
        @include space(1, margin-bottom);
        background: rgba($color-brand, .8);
        color: #fff;
        font-family: Roboto-Bold;
        .media__img {
            @include space(13, max-height);
        }
        .media__info {
            @extend .p-2;
            div {
                @include font-size(2);
            }
        }
    }
}

.carousel__pager {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    z-index: 100;
    list-style: none;

    > li {
        background: #fff;
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 0 .5em;
        border-radius: 50%;
        cursor: pointer;

        &.active {
            background: $color-brand;
        }
    }

    #section__investors & {
        display: none;
    }
}

.carousel__nav {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    border: 0;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    @include space(.75, width);
    @include space(.75, height);
    display: inline-block;
    header & {
        display: none;
    }
    &.is-prev {
        left: 1.5em;
        transform: translateY(-50%) rotate(-45deg);
        #section__investors & {
            left: 10%;
        }
    }

    &.is-next {
        right: 1.5em;
        transform: translateY(-50%) rotate(135deg);
        #section__investors & {
            right: 10%;
        }
    }
}
