.media {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &.is-vcenter {
        align-items: center;
    }

    &.is-hcenter {
        justify-content: center;
    }
}

.media__heading {
    font-family: Roboto-Bold;

    a {
        float: right;
    }
}

.media__info {
    padding-left: 1em;
    flex: 1;
}
