.media {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    @include space(1);

    &.is-vcenter {
        align-items: center;
    }

    &.is-hcenter {
        justify-content: center;
    }

    &.is-overlay {
        position: relative;
    }

    &.is-stacked {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.media__heading {
    font-family: Roboto-Bold;
    @include font-size(1);
    a {
        float: right;
    }
}

.media__info {
    padding-left: 1em;
    flex: 1;
    p {
        margin: 0;
    }
    .is-overlay & {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,0.75);
        color: #fff;
        @extend .p-1;
    }
}

.media__img {
    display: block;

    .is-stacked & {
        border: 1px solid #aaa;
        box-shadow: 0 0 5px #aaa;
    }
}
