$nav_color: $white;
$navoverlay_color: rgba(34, 34, 34, 0.99);

.nav_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: map-get($layers, navoverlay);
	color: $white;
	visibility: hidden;
	transform: translateY(-100%);
	transition: transform 0.5s cubic-bezier(.7, 0, .3, 1), visibility 0s 0.5s;
	.when-overlay & {
		visibility: visible;
		transform: translateY(0%);
		transition: transform 0.5s;
	}
}

.navbar {
	display: flex;
	> .container {
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.navbar__brand {
	img {
		display: block;
	}
}

.navbar__menu {
	display: flex;
	flex-direction: row;
}

.navbar__menuitem {
	@include space(0.5, margin-left);
}

.navbar__link {
	display: block;
	@include space(.5, padding-top);
	@include space(.5, padding-bottom);
	@include space(.5, padding-left);
	@include space(.5, padding-right);
}


.preface {
	background: #424453;
	color: #fff;
	@include space(0.5, padding-top);
	@include space(0.5, padding-bottom);

	.col:last-child {
		border-left: 1px solid #727481;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		> img {

		}
	}
}

.nav {
	color: $white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	ul {
		list-style: none;
		width: 100%;
	}
	li {
		text-transform: uppercase;
		font-size: 24px;
		margin: 12px 0;
	}
	a {
		overflow: hidden;
		display: block;
		span {
			display: inline-block;
			position: relative;
			transform: translate3d(0, 0, 0);
			transition: all .3s cubic-bezier(.7, 0, .3, 1);
			&:after {
				content: attr(data-hover);
				white-space: nowrap;
				position: absolute;
				top: 100%;
				left: 0;
				font-weight: bold;
			}
		}
		&:hover {
			span {
				transform: translate3d(0, -100%, 0);
			}
		}
	}
}

.nav_toggle {
	$btn-ratio: (1.5 - 1.5/4) / 2 + rem;
	display: block;
	position: fixed;
	z-index: map-get($layers, navtoggle);
	@include space(1.5, top);
	@include space(1.5, right);
	height: 1.5rem;
	width: 2.5rem;
	span {
		background: $nav_color;
		display: inherit;
		position: absolute;
		left: 0;
		top: $btn-ratio;
		height: 1.5/4 + rem;
		width: 100%;
		transition: all 0.5s 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
	}
	&:after,
	&:before {
		content: "";
		position: absolute;
		right: 0;
		width: 80%;
		height: 1.5/4 + rem;
		background: $nav_color;
		transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
	}
	&:before {
		top: 0;
		transform-origin: 0% 0%;
	}
	&:after {
		bottom: 0;
		transform-origin: 0% 100%;
	}
	&.close {
		background: transparent;
		span {
			transform: scale(0);
			transition: all 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
			opacity: 0;
		}
		&:after,
		&:before {
			transition: transform 0.3s 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
		}
		&:before {
			transform: rotate(45deg) translate(2px, -2px);
		}
		&:after {
			transform: rotate(-45deg) translate(2px, 2px);
		}
	}
}
