$base-font-size: 16px;
$rhythm: 1.5;
$base-line-height: $rhythm * $base-font-size;
$type-ratio: 1.618;
$show-baseline: false !default;
$grid-columns: 12;
// Colors
$color-primary: #DE6262;
$color-secondary: #525777;
$color-success: #007f00;
$color-warning: #f8d217;
$color-alert: #DE6262;

$color-brand: #e14c48;

$black: #373737;
$white: #FFF;
$gray: #949494;
$color-link: #0C8FBE;
$button-bgcolor: #D7D7D7;
$button-color: #6B6B6B;
$button-primary-bgcolor: #BF7F7F;
$button-primary-color: $white;
$input-border: #AAB6BD;
$input-color: $black;
$input-bgcolor: $white;
$menu-bordercolor: #D4D4D4;
$menu-bgcolor: #EAEAE4;
$menuitem-active-bgcolor: #949494;
$menuitem-active-color: $white;
$animation-duration: 0.2s;
$layers: ( modal: 200, navoverlay: 99, navtoggle: 100 );

$body-width: 1200px;
$gutter-width: $base-font-size;

// Media query breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;
