.clearfix {
	@include clearfix;
}

.is-vcenter {
	align-items: center;
}

.is-hcenter {
	justify-content: center;
}

.is-spaced-between {
	justify-content: space-between;
}

.is-spaced-around {
	justify-content: space-around;
}

.d-flex {
	display: flex;
	flex-direction: row;

	@extend .is-vcenter;
	@extend .is-hcenter;
}

.img--responsive {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	@include space(1);
}

.float--right {
	float: right;
}

.text--lead {
	@include font-size(0);
}

.text--bold {
	font-family: Roboto-Bold;
}

.text--center {
	text-align: center;
}

.text--right {
	text-align: right;
}

.text--uppercase {
	text-transform: uppercase;
}

.p-1 {
	@include space(.5, padding);
}

.p-2 {
	@include space(1, padding);
}

.p-3 {
	@include space(1.5, padding);
}

.p-4 {
	@include space(2, padding);
}
