html {
	box-sizing: border-box;
	line-height: 1;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	text-rendering: optimizeLegibility;
}

nav ol,
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	background-color: transparent;
	color: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	appearance: button;
	overflow: visible;
}

input[type="search"] {
	appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	appearance: none;
}

input[type="number"] {
	width: auto;
}

textarea {
	overflow: auto;
	resize: vertical;
}

a {
	color: inherit;
	background: transparent;
	&:hover,
	&:focus {

	}
	img {
		vertical-align: middle;
	}
}

img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	text-align: left;
	vertical-align: top;
}

th,
td,
caption {
	font-weight: normal;
	margin: 0;
}

::-moz-selection,
::selection {
	background: #b3d4fc;
	color: #fff;
	text-shadow: none;
}
