footer {
    background: #000;
    color: #434343;
    @include space(1, padding-top);
    @include space(1, padding-bottom);

    a {
        padding: 0 0.5em;

        &:first-child {
            padding-left: 0;
        }
    }
}
