.section {
	@include space(2, padding-top);
	@include space(2, padding-bottom);
}

#section__services {
    background: $color-secondary;
    color: #fff;
}

#section__events {
	background: $color-brand;
    color: #fff;

	.media {
		@include space(1);
	}
}

#section__contact {
	background: #444 url('../images/bg_footer.jpg');
	color: #fff;
}

#section__location {
	position: relative;
	padding: 0;
	.block__locations {
		position: absolute;
		@include space(2, top);
		@include space(2, left);
		background: #fff;
		@include space(1, padding);
		min-width: 30em;
	}
}

.contact {
	background: $color-primary;
	color: #fff;
}
