.carousel {
    @include space(40, width);
    position: relative;
    margin: 0 auto;
    header & {
        flex: 1;
    }
}

.carousel__inner {

}

.carousel__slide {
    @include space(1, margin-top);
    @include space(1, margin-bottom);
    background: rgba($color-brand, .8);
    color: #fff;
    font-family: Roboto-Bold;
    .media__info {
        @extend .p-2;
    }
}

.carousel__nav {
    position: absolute;
    width: 100%;
    @include space(14, top);
    left: 0;
    text-align: center;
    z-index: 100;
    list-style: none;

    > li {
        background: #fff;
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 0 .5em;
        border-radius: 50%;
        cursor: pointer;

        &.active {
            background: $color-brand;
        }
    }

}
