input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
select {
	&.form__field {
		background: $input-bgcolor;
		border: 1px solid $input-border;
		color: $input-color;
		display: block;
		height: 1.5 * $base-line-height;
		@include space($offset: 0.5);
		outline: none;
		padding: .5em .75em;
		width: 100%;
		/* If height is 1.5 times the line height, add a space of .5 to catch up with the rhythm*/
		&:hover,
		&:focus {}
		&:focus {
			outline: 0;
		}
		&.modern {
			border-width: 0 0 1px;
			margin-bottom: 0;
			background-color: transparent;
		}
	}
}

.checkbox {
	input {
		display: none;
	}
	.check {
		display: inline-block;
		vertical-align: middle;
		width: 5em;
		height: 2em;
		line-height: 2em;
		padding: 0 1em;
		border-radius: 1em;
		background-color: $color-primary;
		position: relative;
		&:before {
			content: "No";
			float: right;
		}
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 50%;
			width: 2em;
			height: 2em;
			background-color: $white;
			transform: translate3d(0, 0, 0);
			transition: all .2s ease-in;
		}
	}
	input:checked {
		+ .check {
			background-color: #87C661;
			&:before {
				content: "Yes";
				float: left;
			}
			&:after {
				transform: translate3d(150%, 0, 0);
			}
		}
	}
}

.radio {
	@include space(2, height);
	input {
		display: none;
		&:checked + label:after {
			background-color: #AAB6BD;
//			@include transform(scale(1));
			animation: flip $animation-duration;
		}
	}
	label {
		float: left;
		@include space(0.5, padding-top);
		@include space(0.5, padding-bottom);
		height: 100%;
		width: 150px;
		text-align: center;
		cursor: pointer;
		position: relative;
		border: 1px solid #333;
		&:after {
			content: "";
			background-color: #F7F7F7;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}
}

.animated {
	animation: wobble $animation-duration;
}

@keyframes flip {
	0% {
		transform: rotateX(-90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}


textarea {
	overflow: auto;
	resize: vertical;
}

.input-group {
	position: relative;
	display: inline-block;
	.icon-search {
		position: absolute;
		right: 0;
		top: $base-line-height / 4;
	}
}
