[class*="link"] {
	text-decoration: none;
	color: inherit;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.link--more {
	@include font-size(1);
	position: relative;
	padding-left: 2.5em;
	&:before {
		content: "+";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 1em;
		height: 1em;
		border-radius: 50%;
		border: 1px solid #fff;
		font-size: 2em;
		line-height: 1;
		text-align: center;
	}
}

.link--bordered {
	border: 2px solid #fff;
	@include space(0.25, padding);
	@include space(3, height);
	display: flex;
	align-items: center;
    justify-content: center;
	min-width: 10em;
	text-transform: uppercase;

	&:hover {
		background: #fff;
		color: #000;
	}
}

.link-icon {
	border: 1px solid;
	overflow: hidden;
	transition: all .4s cubic-bezier(0.23, 1, .32, 1);
	@include space(0.5, padding-right);
	@include space(0.5, padding-left);
	@include space(0.5, padding-top);
	@include space(0.5, padding-bottom);
	position: relative;
	[class*="icon"] {
		position: absolute;
		top: 50%;
		right: -100%;
		transform: translateY(-50%);
		transition: all .4s cubic-bezier(0.23, 1, .32, 1);
	}
	&:before,
	&:after {
		content: "";
		position: absolute;
		transition: all .4s cubic-bezier(0.23, 1, .32, 1);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	&:before {
		border-top: 2px solid;
		border-bottom: 2px solid;
		transform: translate3d(-100%, 0, 0);
	}
	&:after {
		border-right: 2px solid;
		border-left: 2px solid;
		transform: translate3d(0, -100%, 0);
	}
	&:hover {
		text-decoration: none;
		@include space(1.25, padding-right);
		[class*="icon"] {
			right: 0.5em;
		}
	}
	&:hover:before,
	&:hover:after {
		transform: translate3d(0, 0, 0);
	}
}

.link-card {
	@include space(1, padding-right);
	@include space(1, padding-left);
	color: inherit;
	display: block;
	&:before,
	&:after {
		content: "";
		position: absolute;
		transition: all .2s cubic-bezier(.7, 0, .3, 1);
		opacity: 0;
	}
	&:before {
		@include space(1, top);
		@include space(1, bottom);
		@include space(0.5, right);
		@include space(0.5, left);
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		transform: scale(0, 1);
		transform-origin: 0 0;
	}
	&:after {
		@include space(0.5, top);
		@include space(0.5, bottom);
		@include space(1, right);
		@include space(1, left);
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		transform: scale(1, 0);
		transform-origin: 100% 0;
	}
	&:hover {
		&::before,
		&::after {
			transform: scale(1, 1);
			opacity: 1;
		}
	}
}
