.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $gutter-width;
}

.row {
    margin: 0 (-$gutter-width);
    display: flex;
    flex-wrap: wrap;

    &.is-vcenter {
        align-items: center;
    }

    &.is-hcenter {
        justify-content: center;
    }
}

[class*="col"] {
    padding: 0 $gutter-width;
}

.col {
    flex: 1;
}

$class-slug: col-md;
@for $i from 1 through $grid-columns {
    .#{$class-slug}-#{$i} {
        flex: 0 0 percentage($i / $grid-columns);
    }
}
